<ul>
  <li>
    <%= link_to "Home", root_path, class: 'home' %>
  </li>
  <li class="explore">
          <span>
            Explore
          </span>
    <ul class="submenu">
      <form class="search">
        <input type="text" name="" id="explore-search" placeholder="Search" onkeyup="fillValues(this.value)" />
        <button type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
        <ul class="suggest">
        </ul>
      </form>
      <div class="explore-two-columns">
        <div class="aside1">
          <p>Near by</p>

          <div class="image-area">
            <div class="locate">
              <%= image_tag "header-pic-03.png" %>
              <span>Cape Town</span>
            </div>
            <div class="locate">
              <%= image_tag "header-pic-03.png" %>
              <span>Cape Winelands</span>
            </div>
          </div>
        </div>
        <div class="aside2">
          <p>Popular</p>

          <div class="image-area">
            <div class="locate">
              <%= image_tag "header-pic-03.png" %>
              <span>London</span>
            </div>
            <div class="locate">
              <%= image_tag "header-pic-03.png" %>
              <span>Paris</span>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </li>
  <li class="create">
    Create
    <ul class="submenu">
      <li>
        <%= image_tag "cycle.png" %>
        <div class="submenu-content">
          <h4>Walking Tour</h4>

          <p>A simple outdoor tour with GPS playback.</p>
        </div>
      </li>
      <li>
        <%= image_tag "museum.png" %>
        <div class="submenu-content">
          <h4>Indoor Tour</h4>

          <p>A simple outdoor tour with GPS playback.</p>
        </div>
      </li>
      <li>
        <%= image_tag "car tour.png" %>
        <div class="submenu-content">
          <h4>Self-Drive Tour</h4>

          <p>A simple outdoor tour with GPS playback.</p>
        </div>
      </li>
      <li>
        <%= image_tag "bus.png" %>
        <div class="submenu-content">
          <h4>Bus Tour</h4>

          <p>A simple outdoor tour with GPS playback.</p>
        </div>
      </li>
      <li>
        <%= image_tag "university.png" %>
        <div class="submenu-content">
          <h4>University Tour</h4>

          <p>A simple outdoor tour with GPS playback.</p>
        </div>
      </li>
      <li>
        <%= image_tag "restaurant_menu.png" %>
        <div class="submenu-content">
          <h4>Food Tour</h4>

          <p>A simple outdoor tour with GPS playback.</p>
        </div>
      </li>
      <li>
        <%= image_tag "train icon.png" %>
        <div class="submenu-content">
          <h4>Train Tour</h4>

          <p>A simple outdoor tour with GPS playback.</p>
        </div>
      </li>
      <li>
        <%= image_tag "cycle.png" %>
        <div class="submenu-content">
          <h4>Cycling Tour</h4>

          <p>A simple outdoor tour with GPS playback.</p>
        </div>
      </li>
      <li>
        <%= image_tag "boat.png" %>
        <div class="submenu-content">
          <h4>Boat or Ferry Tour Tour</h4>

          <p>A simple outdoor tour with GPS playback.</p>
        </div>
      </li>
      <li>
        <%= image_tag "question-speech-bubble.png" %>
        <div class="submenu-content">
          <h4>Other Tour</h4>

          <p>A simple outdoor tour with GPS playback.</p>
        </div>
      </li>
    </ul>
  </li>
  <li class="partner">
    Partner
    <ul class="submenu">
      <div class="partner-image">
        <div class="image-area"><%= image_tag "casestudies.png" %><span>Overview</span></div>
        <div class="image-area"><%= image_tag "overview.png" %><span>Case Studies</span></div>
      </div>
      <ul class="partner-menu">
        <li>
          <div class="icon">
            <%= image_tag "pricing.png" %>
          </div>
          <span class="text">Pricing and Distribution</span>
        </li>
        <li>
          <div class="icon">
            <%= image_tag "content.png" %>
          </div>
          <span class="text">Content Creation Services</span>
        </li>
        <li>
          <div class="icon">
            <%= image_tag "translation.png" %>
          </div>
          <span class="text">Translation Services</span>
        </li>
        <li>
          <div class="icon">
            <%= image_tag "bus.png" %>
          </div>
          <span class="text">Buy Tours for Large Groups</span>
        </li>
        <li>
          <div class="icon">
            <%= image_tag "reseller.png" %>
          </div>
          <span class="text">Become a Reseller</span>
        </li>
        <li>
          <div class="icon">
            <%= image_tag "chinese voicemap.png" %>
          </div>
          <span class="text">Voicemap for Chinese Visitors</span>
        </li>
        <li>
          <div class="icon">
            <%= image_tag "educators.png" %>
          </div>
          <span class="text">Voicemap for Educators</span>
        </li>
        <li>
          <div class="icon">
            <%= image_tag "tour analytics.png" %>
          </div>
          <span class="text">Tour Analytics</span>
        </li>
      </ul>
    </ul>
  </li>
  <div class="login-area">
    <% if user_signed_in? %>
        <button type="button" class="btn btn-account">
          <i class="glyphicon glyphicon-user"></i>
          My Account
          <i class="glyphicon glyphicon-chevron-down"></i>
        </button>
        <ul class="submenu">
          <li>Admin</li>
          <li>All Sales (Admin)</li>
          <li>Data (Admin)</li>
          <li>Manage Routes</li>
          <li>Duplicate Tour</li>
          <li>My Routes</li>
          <li>Reports</li>
          <li>Coupons</li>
          <li>View Profile</li>
          <li>Edit Settings</li>
          <li>Edit Profile</li>
          <%= link_to('Sign Out', destroy_user_session_path, method: :delete) %>
        </ul>
    <% else %>
        <button type="button" class="btn btn-login" onclick="location.href = '/users/sign_in';">Sign In</button>
        <button type="button" class="btn btn-register" onclick="location.href='/users/sign_up';">Create
          Account
        </button>
    <% end %>
  </div>
</ul>