<div class="three-columns container">
  <div class="row">
    <div class="independence col-md-4">
      <%= image_tag "guy.png" %>
      <div class="column-content">
        <h4>Independence</h4>

        <p>No awkward groups  or rigid schedules</p>

      </div>
      <%= image_tag "crowd.png" %>
    </div>
    <div class="countries col-md-4">
      <%= image_tag "crowd.png" %>
      <div class="column-content">
        <div class="count">
          <div class="number aqua-blue">3,765</div>
          <span>ratings</span>
        </div>
      </div>
    </div>
    <div class="easy col-md-4">
      <div class="column-content">
        <h4>Easy to Use</h4>

        <p>Tours work offline and play automatically using GPS.</p>
      </div>
      <%= image_tag "easy-to-use.png" %>
    </div>
  </div>
</div>