@font-face {
  font-family: 'avenir';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/avenir/AvenirNextLTPro-Regular.otf) format('otf');
  unicode-range: U+0F00-0FFF, U+200C-200D, U+25CC;
}

@font-face {
  font-family: 'avenir';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/avenir/AvenirNextLTPro-Bold.otf) format('otf');
  unicode-range: U+0F00-0FFF, U+200C-200D, U+25CC;
}

@font-face {
  font-family: 'avenir';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/avenir/AvenirNextLTPro-Demi.otf) format('otf');
  unicode-range: U+0F00-0FFF, U+200C-200D, U+25CC;
}

body {
  font-family: 'avenir';
}

ul {
  list-style: none;
  padding-left: 0;
}

button:focus,
input:focus {
  outline: none;
}

#slider img {
  width: 100%;
  min-height: 550px;
}

.hero-area {
  position: relative;
  color: white;
}

.main-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

.main-header .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-inside {
  z-index: 2;
  position: relative;
}

.menu-inside.mobile {
  display: none;
}

.menu-inside ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 668px;
  margin-left: auto;
  /*color: #454D57;*/
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.explore .search.open ul {
  display: flex;
  flex-direction: column;
  border: 1px solid #DFE2E5;
  width: 100%;
  align-items: flex-start;
}

.menu-inside ul.suggest li, .menu-inside ul.ui-autocomplete li {
  padding-left: 10px;
  height: 46px;
  line-height: 46px;
  color: #454D57;
  border-bottom: 1px solid #979797;
  width: 100%;
  font-weight: 400;
}

.menu-inside ul.suggest li:last-child, .menu-inside ul.ui-autocomplete li:last-child {
  border: none;
}

.menu-inside ul.suggest li:hover, .menu-inside ul.ui-autocomplete li:hover {
  font-weight: 500;
  color: #E22D3A;
}

.menu-inside ul.suggest, .menu-inside ul.ui-autocomplete {
  display: none;
}

.menu-inside ul button.btn-account i.glyphicon-chevron-down {
  margin-left: 5px;
  font-weight: 100;
  font-size: 12px;
}

.menu-inside ul button.btn-register {
  background-color: #E22D3A;
  color: white;
}

.menu-inside ul button, .menu-inside ul a {
  line-height: 45px;
  height: 45px;
  padding: 0 15px;
  color: #454D57;
  webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.menu-inside ul button:focus, .menu-inside ul a:focus {
  outline: none;
}

.menu-inside li {
  position: relative;
  cursor: pointer;
}

.menu-inside .submenu {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  margin: auto;
  transform: translateX(-50%);
  width: 600px;
  background: white;
}

.suggest {
  display: none;
}

.explore img {
  width: 100%;
  height: 100px;
  margin-bottom: 7px;
  border-radius: 6px;
}

.explore-two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.explore-two-columns > div {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  margin-bottom: 10px;
}

.explore-two-columns p {
  margin-bottom: 8px;
  color: #283D52;
  font-size: 15px;
  font-weight: 500;
  padding-left: 5px;
}

.explore-two-columns .locate {
  padding-left: 5px;
  padding-right: 5px;
}

.explore-two-columns .locate span {
  color: #697886;
}

.image-area {
  display: flex;
  flex-direction: row;
}

.image-area div {
  width: 50%;
}

.explore .search {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}

.explore .search input {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding-left: 10px;
  background-color: #DFE2E5;
  color: #697886;
  -webkit-appearance: none;
  border: 1px solid #d6d6d6;
  border-radius: 6px;
}

.explore .search button {
  position: absolute;
  right: 20px;
  top: 23px;
  line-height: unset;
  height: auto;
  padding: 0;
  background: transparent;
  color: #E22D3A;
  box-shadow: unset;
  border: none;
}

.menu-inside li.create:hover .submenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10px;
}

.create li:hover {
  box-shadow: 0 1px 0 0px #DFE2E5;
  background: #f9f9f9;
}

.create li {
  width: calc(50% - 15px);
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid #979797;
  background: #DFE2E5;
  padding-bottom: 8px;

}

.create li:nth-child(even) {
  margin-right: 10px;
  margin-left: 0;
}

.create li > div {
  width: calc(100% - 58px);
  margin-left: auto
}

.create li img {
  width: auto;
  height: auto;
  margin: auto;
}

.menu-inside li.partner:hover .submenu {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  width: 470px;
}

.partner .submenu {
  padding: 15px;
}

.partner .partner-image {
  width: 190px;
  display: flex;
  flex-direction: column;
}

.partner .image-area img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.partner .image-area span {
  color: #283D52;
  font-weight: 500;
  font-size: 14px;
}

.partner .image-area {
  background: #F7F8F9;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 6px;
}

.partner .partner-menu {
  width: calc(100% - 220px);
  margin-left: auto;
}

.partner-menu li {
  display: flex;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding-left: 25px;
}

.partner-menu li .icon {
  position: absolute;
  left: 0;
  top: 5px;
  width: 15px;
}

.partner-menu li img {
  width: 100%;
  height: auto;
}

.partner-menu .text {
  color: #454D57;
  font-weight: 500;
  font-size: 13px;
}

.partner-menu .text:hover {
  color: #E22D3A;
}

.login-area.open {
  position: relative;
}

.login-area.open .submenu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 145px;
  top: 100%;
  text-align: left;
  justify-content: left;
  align-items: flex-start;
}

.login-area.open .submenu li {
  color: #454D57;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 10px;
}

.login-area.open .submenu li:hover {
  color: #E22D3A;
}

.login-area.open .submenu button {
  background: #E22D3A;
  color: white;
  border-radius: 6px;
  border: none;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  box-shadow: none;
}

.login-area.open .submenu a {
  background: #E22D3A;
  color: white;
  border-radius: 6px;
  border: none;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  box-shadow: none;
}

.menu-inside .submenu-content h4 {
  font-weight: 500;
  color: #283D52;
  font-size: 13px;
  margin-bottom: 5px;
}

.menu-inside .submenu-content p {
  color: #697886;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
}

.menu-inside li:hover .submenu {
  display: block;
}

.menu-inside .submenu:before {
  content: "\A";
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
}

.main-header-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  max-width: 815px;
  text-align: center;
  z-index: 1;
}

.main-header-content h1 {
  font-size: 70px;
  font-weight: 700;
}

.main-header-content p {
  font-size: 26px;
  font-weight: 5300;
  margin-bottom: 28px;
}

.main-header-content form {
  display: flex;
  flex-direction: row;
}

.main-header-content form input {
  width: calc(100% - 50px);
  margin: 0;
  height: 50px;
  padding-left: 17px;
}

.main-header-content form button {
  width: 50px;
  background-color: #E22D3A;
  border: none;
  margin: 0;
  font-size: 20px;
}

.three-columns .row {
  display: flex;
  flex-direction: row;
}

.three-columns .col-md-4 {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: left;
  align-items: center;
}

.three-columns p {
  font-size: 14px;
  color: #283D52;
  font-weight: 400;
  margin-bottom: 0;
  max-width: 140px;
}

.three-columns h4 {
  color: #283D52;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
}

.three-columns .col-md-4.countries .column-content {
  width: 100%;
}

.three-columns .col-md-4.countries {
  background-color: #F7F8F9;
}

.three-columns .col-md-4.countries .count {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.three-columns .col-md-4.countries .count span {
  color: #283D52;
  font-size: 26px;
  font-weight: 400;
}

.three-columns img {
  height: 100%;
  width: auto;
}

.red {
  color: #E22D3A;
}

.aqua-blue {
  color: #0093E1;
}

.three-columns .number {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-right: 15px;
  padding-right: 15px;
  position: relative;
}

.three-columns .number:after {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #979797;
}

.three-columns .easy {
  padding: 23px 40px;
}

.three-columns .easy p {
  max-width: 200px;
}

.three-columns .col-md-4.independence .column-content img {
  display: none;
}

a.home {
  color: #fff !important;
  box-shadow: none !important;
}

@media (max-width: 767px) {
  .main-header-content p {
    font-size: 17px;
  }

  .main-header-content h1 {
    font-size: 45px;
  }

  .main-header-content {
    width: 100%;
    padding: 0 15px;
  }

  .container {
    width: 100%
  }

  .three-columns .row {
    flex-wrap: wrap;
  }

  .three-columns .col-md-4 {
    width: 100%;
    padding: 40px 32px;
    justify-content: space-between;
  }

  .three-columns .col-md-4.countries {
    order: 1;
    padding-bottom: 55px;
    padding-top: 55px;
  }

  .three-columns .col-md-4.independence {
    order: 2;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
  }

  .easy {
    order: 3;
    background-color: #F7F8F9;

  }

  .three-columns .col-md-4.countries img {
    display: none;
  }

  .menu-inside {
    display: none;
  }

  .menu-inside.mobile {
    display: block;
    padding: 25px 16px;
  }

  .menu-inside.mobile > ul {
    display: none;
  }

  .menu-inside.mobile.open > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-inside.mobile > ul > li:hover .submenu {
    display: none;
  }

  .menu-inside.mobile > ul > li.open .submenu {
    display: block;
    z-index: 3;
    top: 100%;
    background-color: white;
  }

  .menu-inside.mobile > ul > li.open .submenu:before {
    content: none;
  }

  .menu-inside li {
    height: 50px;
    line-height: 50px;
    width: calc(100% + 30px);
    color: #283D52;
    font-weight: 500;
    font-size: 16px;
    order: 2;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: -15px;
    margin-left: -15px;
    border-bottom: 1px solid #979797;
  }

  .menu-inside.mobile > ul > li.create.open .submenu {
    display: flex;
    width: 100%;
  }

  .create li {
    width: calc(50% - 15px);
    height: auto;
    flex-direction: column;
    text-align: center;
    margin: 0 10px 10px;
    padding-left: 20px;
    padding-top: 10px;
  }

  .create li:nth-child(even) {
    padding-left: 10px;
    padding-right: 20px;
  }

  .create li > div {
    width: 100%;
  }

  .create li > div p {
    display: none;
  }

  .menu-inside.mobile > ul > li.partner.open .submenu,
  .menu-inside.mobile > ul > li.partner.open:hover .submenu {
    display: flex;
    width: 100%;
  }

  .partner .partner-menu,
  .partner.open .submenu {
    width: 100%;
  }

  .partner .partner-image {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .partner .image-area {
    width: calc(50% - 7.5px);
  }

  .partner-menu li {
    margin: 0;
    border: none;
    padding-left: 25px;
  }

  .menu-inside li:last-child {
    border-bottom: none;
  }

  .login-area {
    order: 2;
  }

  .menu-inside li.explore {
    order: 1;
    border-bottom: none;
    height: auto;
  }

  .menu-inside li.open {
    height: auto;
  }

  .menu-inside ul.suggest li {
    margin: 0;
  }

  .menu-inside li.explore .explore-two-columns,
  .menu-inside li.explore span {
    display: none;
  }

  .menu-inside.mobile > ul > li.explore:hover .submenu,
  .menu-inside li.explore .submenu {
    display: flex;
    position: relative;
    top: 0;
    transform: unset;
    left: 0;
    width: 100%;
  }

  .explore .search {
    width: 100%;
    padding: 0;
  }

  .explore .search button {
    top: 0;
  }

  #nav-icon1 {
    width: 24px;
    height: 24px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin: 0;
  }

  .menu-inside.mobile.open #nav-icon1 {
    margin-left: auto;
    margin-bottom: 25px;
  }

  .menu-inside ul .login-area {
    width: 100%;
    align-items: flex-start;
  }

  .login-area.open .submenu {
    width: calc(100% + 30px);
  }

  .login-area.open .submenu li {
    margin-bottom: 10px;
    height: auto;
    margin: auto;
    padding: initial;
    border: none;
    line-height: 36px;
  }

  .login-area.open .submenu button {
    order: 3;
    justify-content: center;
  }

  .login-area.open .submenu a {
    order: 3;
    justify-content: center;
  }

  .menu-inside ul button.btn-account i.glyphicon-chevron-down {
    margin-left: auto;
  }

  .menu-inside ul .login-area button {
    box-shadow: none;
    padding: 0;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-inside ul .login-area a {
    box-shadow: none;
    padding: 0;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-inside ul .login-area button i {
    margin-bottom: 5px;
  }

  .menu-inside ul .login-area a i {
    margin-bottom: 5px;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #5e6474;
    border-radius: 16px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 2px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 10px;
  }

  #nav-icon1 span:nth-child(3) {
    bottom: 2px;
  }

  #nav-icon1.open span {
    background-color: #5e6474;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 10px;
    width: 30px;
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 10px;
    width: 30px;
    transform: rotate(-135deg);
  }

  #nav-icon1.open.close span {
    background: #5e6474;
    transform: rotate(0deg);
    width: 100%;
    left: 0;
    opacity: 1;
  }

  #nav-icon1.open.close span:nth-child(1) {
    top: 2px;
  }

  #nav-icon1.open.close span:nth-child(2) {
    top: 10px;
    left: 0;
  }

  #nav-icon1.open.close span:nth-child(3) {
    bottom: 2px;
    top: auto;
  }

  #nav-icon1:before {
    content: '';
    height: calc(100% + 64px);
    width: calc(100% + 80px);
    display: inline-block;
    top: -32px;
    left: -40px;
    background-color: transparent;
    position: absolute;
  }

}

.d-block {
  display: block;
}