<!DOCTYPE html>
<html>
<head>
  <title>TestScreens</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="hero-area">
  <div class="menu-inside mobile">
    <p id="nav-icon1" class="menu-humberger" >
      <span></span>
      <span></span>
      <span></span>
    </p>
    <%= render 'shared/nav' %>
  </div>
  <div id="slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "header-pic-01.png" %>
      </div>

      <div class="item">
        <%= image_tag "pic2.png" %>
      </div>

      <div class="item">
        <%= image_tag "header-pic-03.png" %>
      </div>
    </div>
  </div>
  <div class="main-header">
    <div class="container">
      <div class="menu-inside">
        <%= render 'shared/nav' %>
      </div>
      <div class="main-header-content">
        <h1>Stories that move you</h1>

        <p>Explore at your own pace with VoiceMap’s immersive audio tour app</p>

        <form class="search">
          <input type="text" name="" placeholder="Search"/>
          <button type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<%= yield %>

</body>
</html>
